<p style="color: green"><%= notice %></p>

<h1>Book Collection</h1>

<div id="books">
  <table>
    <thead>
      <th>Title</th>
    </thead>
    <tbody>
        <% @books.each do |book| %>
        <tr>
          <td>
            <%= render book %>
          </td>
          <td>  
            <p>
              <%= link_to "View", book_path(book), class: 'action show' %>
            </p>
          <% end %>
          </td>
        </tr>
    </tbody>
  </table>

</div>

<%= link_to "Add Book", new_book_path %>
